body {
  font-family: "Courier New";
  font-size: 23px;
  font-weight: 900;
}

#todo-title {
  color: blue;
}

.search-result {
  color: blue;
}

button {
  border-radius: 12px;
  border: 10px;
  width: 80px;
  height: 30px;
  background-color: steelblue;
  color: white;
  font-family: "Trebuchet MS";
  font-size: 13px;
  font-weight: 800;
}

.icon {
  font-size: 12px;
}

.checklistlogo {
  background-image: url("./checklist.png");
}
