body {
  font-family:'Courier New';
  font-size: 25px;
  font-weight: 400;
}

#todo-title {
  color:blue;
}
button {
  border-radius: 12px;
  border: 10px;
  width:90px;
  height: 40px;
  background-color:darksalmon;
  color: white;
  font-family:'Trebuchet MS';
  font-size:15px;
}

.icon {
  font-size: 12px;;
}

.checklistlogo {
  background-image: url(images/checklist.png);
}